option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "bolsonaro_api.settings.production"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "bolsonaro_api.wsgi:application"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/api/v1"
    MatcherHTTPCode: "200-499"

container_commands:
  01_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      python3 manage.py migrate --noinput
    leader_only: true
  02_collectstatic:
    command: |
      source /var/app/venv/*/bin/activate
      python3 manage.py collectstatic --noinput
    leader_only: true