@import '../../styles/_themes';
@import '../../styles/_fonts';


dl > * {
  font-family: $font-family-primary;

  @include themed() {
    color: t($text-color);
  }
}

dl dd {
  margin-left: 2em;
}

.entities > * {
  margin: 1.5em 10px;
}
