@import '../../styles/_themes';
@import '../../styles/_fonts';


.entities .quotes,
.entities .actions {
  font-family: $font-family-primary;
  font-style: italic;
  text-align: left;
  padding: 0.5em 10px;

  @include themed() {
    border-left: t($border-left);
    background:  t($background-secondary-color)
  }
}

.entities .quotes:before {
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;

  @include themed() {
    color: t($text-secondary-color)
  }
}

.entities .quotes footer,
.entities .actions footer {
  margin: 0;
  padding: 0;

  @include themed() {
    color: t($custom-link-color)
  }
}

.entities .quotes p,
.entities .actions p {
  display: inline;
  font-size: 1.2em;
}
