@import '../../styles/_colors';
@import '../../styles/_themes';


$tags--color: #d6d6d6;
$tags--hover--color: #d3e2e2;
$tags--button--hover--background--color: #c77777;
$tags--dropdown--color: #86b7fe;
$tags--dropdown--shadow--color: rgba(13, 110, 253, 0.25);
$valid--shadow--color: rgba(25, 135, 84, 0.25);


.input-tags {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $tags--color;
  border-radius: 0.25rem;
  padding: 1px 2px 1px;
  width: 100%;

  @include themed() {
    background:  t($background-input-color)
  }
}

.input-tags.error__box {
  border-color: $error--color;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.input-tags.error__box:focus {
  border-color: $error--color;
  box-shadow: 0 0 0 0.25rem $error--shadow--color;
}

.input-tags.valid__box {
  border-color: $valid--color;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.input-tags.valid__box:focus {
  border-color: $valid--color;
  box-shadow: 0 0 0 0.25rem $valid--shadow--color;
}

.input-tags__tag {
  background-color: $background--light--secondary--color;
  border-radius: 5px;
  color: $text--light--color;
  font-weight: 300;
  margin-right: 5px;
  padding: 2px 1px;
  height: 50%;
  
}

.input-tags__tag:hover {
  box-shadow: 0 0 0 2px $tags--hover--color !important;
  background-color: $tags--hover--color;
}

.input-tags__tag span {
  color: $text--light--color;
  border-radius: 10px;
  margin-right: 5px;
  padding: 5px;
}

.input-tags__tag button  {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: 0 0;
  color: $text--light--color;
  font-size: 12px;
  width: 14px;
  height: 14px;
  line-height: 0;
  transition: 0.2s ease-out;
}

.input-tags__tag button:hover {
  color: $tags--color;
  background-color: $tags--button--hover--background--color;
}

.input-tags__dropdown__wrapper button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: 0 0;
  color: $text--light--color;
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 0;
  transition: 0.2s ease-out;
}

.input-tags__dropdown__wrapper button:hover {
  background-color: $tags--color;
}

.input-tags__input {
  flex-grow: 1;
  padding: 0;
  margin-top: 2px;
}

.input-tags__input input {
  width: 100%;
  border: none;
  padding: none;
}

.input-tags__input input:focus {
  border: none;
  box-shadow: none;
}


.input-tags.dropdDown-active {
  border-color: $tags--dropdown--color;
  outline: 0;
  box-shadow: 0 0 0 0.2rem $tags--dropdown--shadow--color;
}

.input-tags__dropdown__wrapper {
  border: 1px solid $tags--dropdown--color;
  border-radius: 0.25rem;
}

.hide {
  display: none;
}